body {
  margin: 0;
  padding: 0;
  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  display: block;
  width: 240px;
  height: 50px;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0  0  0  0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  background-color: #eeeeee;
  
}


.main-header-logo img:hover {
  opacity: 0.8;
}

.main-header-logo img:active {
    opacity: 0.3;
}


.basket-link img {
  margin-right: 20px;
  
}

.main-navigation {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.main-navigation a:hover {
  color: #ea565c;
  background-color: #eeeeee;
}

.main-navigation a:active {
  color: #d1d1d1;
  background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  background-color: #eeeeee;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #ea565c;
  background-color: #eeeeee;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #d1d1d1;
  background-color: #eeeeee;
  
  
}

.site-navigation-current a {
  border-bottom: 2px solid #fb565a;
  
}




.features {
  background-color: #eeeeee;
}

.features b {
  font-size: 55px;
  font-weight: 500;
  color: #000000;
  text-transform: none;
}  

.features-button,
.services1-button,
.contacts-button,
.write-button {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
   
}





.features-button:hover,
.services1-button:hover,
.contacts-button:hover,
.write-button:hover {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #e74246;
   
}

.features-button:active,
.services1-button:active,
.contacts-button:active,
.write-button:active {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #e48789;
  background-color: #d7373b;
   
}



.services2-button {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #00ca74;
   
}

.services2-button:hover {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #00bc6c;
   
}

.services2-button:active {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #74c69c;
  background-color: #00aa62;
   
}

.services3-button {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #efc84a;
   
}

.services3-button:hover {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #eab534;
   
}

.services3-button:active {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ecc075;
  background-color: #e5a722;
   
}

.services1-button,
.services2-button,
.services3-button {
  width: 160px;
}

.contacts-button {
  width: 220px;
}



.services-list {
  list-style: none;
  }

.services ul {
  list-style: none;
}

.services-item {
  text-align: center;
}

.services-item h3 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.features ul,
.about-column-left ul,
.about-column-right ul,
.main-partners ul,
.footer-social ul,
.catalog ul {
  list-style: none;
}

.partners img {
	opacity: 0.20;
}

.partners img:hover {
	opacity: 1;
}

.partners img:active {
	  opacity: 0.1;
}



.about-column-left h2 {
  font-size: 45px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 42px;
}

.about-column-left h3 {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 32px;
}
 

.about-column-right b {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 45px;
}
 
 .about-column-right span {
  font-size: 45px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}
 
 
 
.page-title {
  font-size: 55px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  background-size: 100%;
  margin: 0 auto; 
  
}


.filters fieldset,
.filters-1 fieldset{
  border: none;
}

.filters ul,
.filters-1 ul  {
  list-style: none;
  
}

.filters-1 li {
  margin-bottom: 20px;
  
}



.filters legend,
.filters-1 legend {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
 
}




.range-filter {
  width: 240px;
  margin: 55px auto; 
  }

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.filter-option,
.features-filter-option {
  color: #797c7f;
  
}

.filter-option:hover,
.features-filter-option:hover {
  color: #4d4d4d;
}




.filter-input:disabled + label {
  color: #283136;
  opacity: 0.3;
}




.sort a {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}


.sort p {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  
}


.sort-icon {
  float: right;
  margin-left: 40px;
  
}


.filter-button {
  font-size: 16px;
  font-weight: 500;
  width: 260px;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
  margin-top: 30px; 
}

.filter-button:hover {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  background-color: #dfdfdf;
   
}

.filter-button:active {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #acacac;
  background-color: #d5d5d5;
   
}

.catalog-item a {
  color: #000000;
  background-color: #eeeeee;
}

.catalog-item-description {
  background-color: #eeeeee;
  box-sizing: border-box; 
  text-align: center;
  width: 360px;
  height: 230px;
  vertical-align: middle;
  margin: 0;
  padding: 15px 80px 50px 80px;
}

.catalog-category {
  color: #000000;
  background-color: #eeeeee;
  font-size: 18x;
  font-weight: 700;	
  text-transform: uppercase;
 
}


.catalog-item-title {
  color: #727272;
  background-color: #eeeeee;
  font-size: 16x;
  font-weight: 400;	
}

.catalog .button {
  display: block;
  box-sizing: border-box; 
  width: 200px;
  padding: 17px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  
 }


.catalog .button:hover {
  color: #ffffff;
  background-color: #e74246;
  
}

.catalog .button:active {
  color: #e48789;
  background-color: #d7373b;
   
}

.pagination-list {
  list-style: none;
  
}



.pagination-item {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.pagination-item:hover {
  background-color: #dfdfdf;
}

.pagination-item:active {
  color: #959595;
  background-color: #d5d5d5;
  border-top: 2px solid #bfbfbf;
}
.pagination-item-current {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active {
  color: #000000;
  background-color: #ffffff;
}


.pagination-item {
  box-sizing: border-box; 
  padding: 16px 20px;
  margin-right: 10px;
  
  
 /*-----Временно для сетки-----*/ 
  min-height: 50px;
  
  }
 



.pagination-list {
	display: flex;
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
    list-style: none;
	
	 /*-----Временно для сетки-----*/ 
  min-height: 50px;   
}



.pagination-item-next {
  padding: 15px 80px;
  width: 260px;
}

.pagination-item a {
  color: #000000;
}

.pagination-item-current {
  background-color: #ffffff;
  border: 3px solid #eeeeee;
  border-radius: 3px;
  
}















.main-footer {
  color: #283136;
  background-color: #ffffff;
}

.main-footer h4 {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.footer-contacts p {
  font-size: 16px;
  font-weight: 400;
  color: #989898;
  background-color: #ffffff;
}





 .modal-write h2 {
  font-size: 45px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
}  

.write-us-item input {
  font: inherit;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px  solid #d7dcde;
}

.write-us-item input:hover {
  font: inherit;
  
  background-color: #ffffff;
  border: 1px  solid #b4b9bb;
}

.write-us-item input:active {
  font: inherit;
  
  background-color: #ffffff;
  border: 1px  solid #000000;
}

.write-us-item input:invalid {
  font: inherit;
  
  background-color: #ffffff;
  border: 1px  solid #e74246;
}

.write-us label {
  font-size: 16px;
  font-weight:700;
  color: black;
  background-color: #ffffff;
}

.write-us-item input[type="text"],
.write-us-item input[type="email"] {
  font-size: 16px;
  color: #d7dcde;
  background-color: #ffffff;
}

.write-us-item input[type="text"]:hover,
.write-us-item input[type="email"]:hover  {
  font-size: 16px;
  color: #b4b9bb;
  background-color: #ffffff;
}

.write-us-item input[type="text"]:focus,
.write-us-item input[type="email"]:focus  {
  font-size: 16px;
  color: #686868;
  background-color: #ffffff;
}

.write-us-item input[type="text"]:invalid,
.write-us-item input[type="email"]:invalid  {
  font-size: 16px;
  color: #ee8486;
  background-color: #ffffff;
}
  
  .write-button {
  width: 260px;
}



/*------Сеточные стили------*/

html,
body {
  min-width: 1440px;
  min-height: 2476px;
}

.main-header {
  margin: 0 auto;
  background-color: #eeeeee;
 
  /*-----Временно для сетки-----*/
  min-height: 115px;
 /*----- background-color: #4444444;-----*/ 
} 



.main-navigation {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #eeeeee;
  align-items: center;
  justify-content: space-between;
  /*-----Временно для сетки-----*/ 
  min-height: 115px;
  /*--background-color: #b56062;--*/ 
  }
  

.main-header-logo {
  width: 160px;
  height: 65px;
  padding: 0;
  margin: 50px 20px 0 0;
  /*-----Временно для сетки-----*/ 
  /*display: block;*/
  /*--background-color: #2f8ab0;---*/
}

.site-navigation {
  display: flex;
  width: 440px;
  margin: 0;
  padding: 60px 0 0 0;
  list-style: none;
  text-align: justify;
  justify-content: space-between;
  
  
  /*-----Временно для сетки-----*/ 
  /*--background-color: #7ea4b4;---*/ 
}

.site-navigation a {
  width: 80px;
   
   /*-----Временно для сетки-----*/ 
   /*---background-color: #efc84a;---*/
  
}
 .user-navigation a {
  width: 160px;
  margin-left: auto;
  }
 
  .user-navigation {
  display: flex;
  padding: 60px 0 0 0;
   }
 
.site-navigation a,
.user-navigation a {
  box-sizing: border-box; 
  list-style: none;
  
  
  /*-----Временно для сетки-----*/ 
  min-height: 65px;
  /*--background-color: #efc84a;---*/

}


.slide,
.slide-1,
.slide-2,
.slide-3 {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
  margin-bottom: 80px;
  align-items: center;
  /*-----Временно для сетки-----*/ 
  min-height: 430px;
  /*--background-color: #efc84a;--*/

  
}



.text-1 {
  order: -1;
  width: 400px;
  padding: 0;
  margin: 0;
  text-align: left;
  
}

.text-2 {
  order: -1;
  width: 560px;
  padding: 0;
  margin: 0;
  text-align: left;
  
}

.text-3 {
  order: -1;
  width: 460px;
  padding: 0;
  margin: 0;
  text-align: left;
  
}

.services-list {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px; 
  list-style: none;
  justify-content: space-between;
  margin-bottom: 122px;
  /*-----Временно для сетки-----*/ 
  min-height: 350px;
  /*--background-color: #7ea4b4;--*/
  }
  
.services-item {
  
  width: 300px;
  margin: 0;
  padding: 0;
  text-align: left;
  /*-----Временно для сетки-----*/ 
  min-height: 350px;
}

.about-us {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
  margin-bottom: 130px;
  
  
  /*-----Временно для сетки-----*/ 
  min-height: 407px;
  
  
}

.about-column-left {
  width: 660px;
  padding: 0;
  margin: 0;
  text-align: left;
  
  /*-----Временно для сетки-----*/ 
  min-height: 407px;
  /*--background-color: #000000;-*/
  
}

.about-column-right {
  width: 360px;
  padding: 0;
  margin: 0;
  text-align: center;

  
  
  /*-----Временно для сетки-----*/ 
  min-height: 407px;
  /*--background-color: #444444;--*/
  
}


.about-column-left h3 {
  margin-top: 45px;
  margin-bottom: 22px;
  
}

.about-column-left ul {
  margin: 0;
  padding: 0;
}

.about-column-left li {
  position: relative;
  margin-bottom: 23px;
  padding-left: 35px;
}

.about-column-left li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  display: block;
  width: 25px;
  height: 2px;

  background-color: #ff0000;
}

.main-partners {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
  margin-bottom: 40px;
  list-style: none;
}

.main-partners a {
  display: block;
  
  padding: 20px  20px;
}


.partners {
  width: 260px;
  list-style: none;
  
  /*-----Временно для сетки-----*/ 
  min-height: 180px;
}





.page-title {
  box-sizing: border-box; 
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 115px;
  margin-bottom: 60px;
  text-align: center;
  background-color: #eeeeee;
  
  /*-----Временно для сетки-----*/ 
  min-height: 240px;
	
}

.catalog-colomns {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
}




.filters-1 {
  width: 260px;
  /*-----Временно для сетки-----*/ 
  min-height: 2097px;
  
}

.shop-sort {
  display: flex;
  
  width: 760px;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
   /*-----Временно для сетки-----*/ 
  
}

.sort {
  display: flex;
  width: 680px;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  
}

.sort span {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  margin-right: 265px;
  text-transform: uppercase;
}


.sort-item {
  display: flex;
  width: 360px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}


.sort-item {
 opacity: 0.3;
}

.sort-item:hover,
.sort-item:focus {
 opacity: 0.6;
}

.sort-item.active,
.current,
.sort-item:active {
  opacity: 1;
}


.sort-icon {
 opacity: 0.2;
}

.sort-icon:hover,
.sort-icon:focus {
 opacity: 0.6;
}

.sort-icon.active,
.current,
.sort-icon:active {
  opacity: 1;
}









.catalog {
  width: 760px;
  
  /*-----Временно для сетки-----*/ 
  min-height: 2097px;
  
}



.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 60px;
  
  /*-----Временно для сетки-----*/  
  /*background-color: #7ea4b4;--*/
}

.catalog-item {
  width: 360px;
  margin-right: 40px;
  
  /*-----Временно для сетки-----*/ 
  min-height: 620px;
   
}

.catalog-item svg {
  opacity: 0.12;
}


.catalog-item svg:hover {
  opacity: 1;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}


  
  
  
  

.main-footer {
  margin-top: 40px;

  /*-----Временно для сетки-----*/ 
  min-height: 715px;
}

.container {
  display: flex;
  width: 1160;
  margin: 0 auto;
  padding: 0 20px;
 
  
}

.footer-map {
  position: relative;

  box-sizing: border-box;
  
  height: 416px;
  margin: 0 auto;

  background: url("../img/map.png") no-repeat;
  width: 100%;
  margin-bottom: 70px;
}

.footer-contacts {
  position: absolute;
  top: 53px;
  left: 140px;

  box-sizing: border-box;
  width: 320px;
    
  padding: 50px;
  

  background-color: #ffffff;
  /*-----Временно для сетки-----*/ 
  min-height: 310px;
  
}

.footer-contacts img {
  position: absolute;
  top: 35px;
  left: 680px;

  box-sizing: border-box;
  
 
  background-color: transparent;
  /*-----Временно для сетки-----*/ 
 
  
}





.promo b {
  font-size: 36px;
  font-weight: 700;	
  color: #000000;
  background-color: #ffffff;
}







.promo {
  margin: 0 auto;
  width: 600px;
  padding-right: 200px;
/*-----Временно для сетки-----*/ 
  min-height: 80px;
/*--  background-color: #7ea4b4;--*/ 
  
  
}


/*.slide-2,
.slide-3,*/
.catalog-item-description {
  display: none;
  margin: 0;
}

.main-footer h4 {
  margin: 0;
  margin-bottom: 35px;
  
}


.main-footer p {
  margin: 0;
  margin-bottom: 25px;
  
}





.footer-social {
  display: flex;
  margin: 0 auto;
  width: 260px;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  /*-----Временно для сетки-----*/ 
  min-height: 80px;
 /*-- background-color: #444444;--*/ 
  
  
}

.social {
  display: flex;
  width: 80px;
  font-size: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #e1e1e1;
  border-radius: 50%;
  
  
  /*-----Временно для сетки-----*/ 
  
  min-height: 80px;
}




.social:hover {
 color: #ffffff;
 background-color: #fb565a;
}

.social:active {
  color: #e37376;
  background-color: #d7373b;
 
}





.social-bottum svg:active path {
  fill: #e37376;
  
}

.about-column-right img {
  margin-bottom: 20px;
}


.about-column-right-item {
  display: flex;
  box-sizing: border-box; 
  width: 360px;
  padding: 0;
  margin: 0 auto;
  text-align: left;
  }

.about-column-right-item li {
 padding-right: 20px;
}


.modal.modal-write {
  position: absolute;
  /*display: none;*/ 
  box-sizing: border-box;
  width: 960px;
  height: 590px;
  top: 1796px;
  left: 240px;
  padding: 70px 100px 85px 100px;
  
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.modal p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}



.write-us label {
  display: block;
  margin-bottom: 10px;
}

.write-us input {
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding-left: 15px;
}


.write-us-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.modal textarea {
  box-sizing: border-box;
  padding-left: 15px;
  padding-top: 10px;
  width: 760px;
  border: 1px  solid #d7dcde;
}

.modal textarea:hover {
  border: 1px  solid #b4b9bb;
  
}

.modal textarea:focus {
  border: 1px  solid #000000;
  
}

.modal textarea:invalid {
  border: 1px  solid #e74246;
  
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  
  
  width: 21px;
  height: 21px;

  font-size: 0;

  
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  background-color: #fecccd;
  position: absolute;
  top: 10px;
  left: 2px;
  
  width: 19px;
  height: 3px;

  
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}













.grid-filter {
	margin-bottom: 50px;
	margin-left: 0;
	padding: 0;
    list-style: none;
}

.filter-option {
	position: relative;
	margin-bottom: 20px;
	padding-left: 37px;
	
}

.filter-option:nth-child {
	margin-bottom: 0;
}


.filter-option input[type="radio"] + label::before {
	position: absolute;
	left: 0;
	content: "";
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.filter-option input[type="radio"]:checked + label::before {
 	position: absolute;
	left: 0;
	content: "";
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
 }

.filter-option input[type="radio"]:hover + label::before {
	opacity: 1;
}

.filter-option input[type="radio"]:disabled + label::before {
	opacity: 0.1;
}




.features-filter {
	margin-top: 25px;
}

.features-filter-list{
	display: block;
	margin-top: 15px;
	margin-left: 0;
	padding: 0;
}

.features-filter-option {
	position: relative;
	padding-left: 37px;
	margin-bottom: 20px;
}

.features-filter-option input[type="checkbox"] + label::before {
	position: absolute;
	left: 0;
	content: "";
	width: 25px;
	height: 25px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.features-filter-option input[type="checkbox"]:checked + label::before {
 	position: absolute;
	left: 0;
	content: "";
	width: 25px;
	height: 25px;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
 }

.features-filter-option input[type="checkbox"]:hover + label::before {
	opacity: 1;
}

.features-filter-option input[type="checkbox"]:disabled + label::before {
	opacity: 0.1;
}






.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}
/*--.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slide-text{
    width:380px;
    padding:30px 0;
    color:#283136;
}
.slide-title{
    font-size:36px;
    line-height:1;
    font-weight:bold;
    color:black;
}
.slide .btn{
    display:block;
    width:240px;
    padding:10px 0;
    margin-top:25px;
    font-size:12px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}
.slide:nth-child(1){
    background-image:url('img/features-photo1.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(2){
    background-image:url('img/features-photo2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url('img/features-photo3.png');
    background-repeat:no-repeat;
    background-position:100% 0;
} 
--*/



.slide {
    display:none;
} 


#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}

















