body {
  margin: 0;
  padding: 0;
  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  display: block;
  width: 240px;
  height: 50px;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0  0  0  0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header: {
  background-color: #eeeeee;
}

.main-header svg:hover {
  fill:#303030;
}


.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.main-navigation a:hover {
  color: #ea565c;
  background-color: #eeeeee;
}

.main-navigation a:focus {
  color: #d1d1d1;
  background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  background-color: #eeeeee;
}

.site-navigation a:hover,
.user-navigation a:hover, {
  color: #ea565c;
  background-color: #eeeeee;
}

.site-navigation a:focus,
.user-navigation a:focus, {
  color: #d1d1d1;
  background-color: #eeeeee;
}

.features {
  background-color: #eeeeee;
}

.features b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-transform: none;
}  

.features-button,
.services1-button,
.contacts-button,
.write-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
   
}

.features-button:hover,
.services1-button:hover,
.contacts-button:hover,
.write-button:hover {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #e74246;
   
}

.features-button:focus,
.services1-button:focus,
.contacts-button:focus,
.write-button:focus {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #e48789;
  background-color: #d7373b;
   
}

.services2-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #00ca74;
   
}

.services2-button:hover {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #00bc6c;
   
}

.services2-button:focus {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #74c69c;
  background-color: #00aa62;
   
}

.services3-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #efc84a;
   
}

.services3-button:hover {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #eab534;
   
}

.services3-button:focus {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ecc075;
  background-color: #e5a722;
   
}

.services1-button,
.services2-button,
.services3-button {
  width: 160px;
}

.services-list {
  list-style: none;
}

.services ul {
  list-style: none;
}

.services-item {
  text-align: center;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.features ul,
.about-column-left ul,
.about-column-right ul,
.main-partners ul,
.footer-social ul,
.catalog ul {
  list-style: none;
}

.about-column-left h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
}

.about-column-left h3,
.about-column-right h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}
 

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.filters fieldset {
  border: none
}

.filters ul {
  list-style: none;
  line-height: 20px;
}
.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #4d4d4d;
}


.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}




.sort a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}


.sort p {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
   
}

.filter-button:hover {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  background-color: #dfdfdf;
   
}

.filter-button:focus {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #acacac;
  background-color: #d5d5d5;
   
}

.catalog-item a {
  color: #000000;
  background-color: #eeeeee;
}

.catalog-item-description {
  background-color: #eeeeee;
}

.catalog-category {
  color: #000000;
  background-color: #eeeeee;
  font-size: 18x;
  line-height: 30px;
  font-weight: 700;	
  text-transform: uppercase;
}


.catalog-item-title {
  color: #283136;
  background-color: #eeeeee;
  font-size: 16x;
  line-height: 18px;
  font-weight: 400;	
}

.catalog .button {
  display: block;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  
 }


.catalog .button:hover {
  color: #ffffff;
  background-color: #e74246;
  
}

.catalog .button:focus {
  color: #e48789;
  background-color: #d7373b;
   
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: #959595;
  background-color: #d5d5d5;
  border-top: 2px solid #bfbfbf;
}
.pagination-item-current {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}




.main-footer {
  color: #283136;
  background-color: #ffffff;
}

.main-footer h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.main-footer p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.social-bottum {
  color: #ffffff;
  background-color: #e1e1e1;	
}

.social-bottum:hover {
  color: #ffffff;
  background-color: #e74246;	
}

.social-bottum:focus {
  color: #e37376;
  background-color: #d7373b;
}

.footer-social b {
  font-size: 36px;
  font-weight: 700;	
  color: #000000;
  background-color: #ffffff;
}

 .modal-write h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
}  

.write-us-item input {
  font: inherit;
  
  background-color: #ffffff;
  border: 1px  solid #d7dcde;
}

.write-us-item input:hover {
  font: inherit;
  
  background-color: #ffffff;
  border: 1px  solid #b4b9bb;
}

.write-us-item input:focus {
  font: inherit;
  
  background-color: #ffffff;
  border: 1px  solid #000000;
}

.write-us-item input:invalid {
  font: inherit;
  
  background-color: #ffffff;
  border: 1px  solid #e74246;
}

.write-us label {
  font-size: 16px;
  font-weight:700;
  line-height: 18px;
  color: black;
  background-color: #ffffff;
}

.write-us-item input[type="text"],
.write-us-item input[type="email"] {
  font-size: 16px;
  line-height: 18px;
  color: #d7dcde;
  background-color: #ffffff;
}

.write-us-item input[type="text"]:hover,
.write-us-item input[type="email"]:hover {
  font-size: 16px;
  line-height: 18px;
  color: #b4b9bb;
  background-color: #ffffff;
}

.write-us-item input[type="text"]:focus,
.write-us-item input[type="email"]:focus {
  font-size: 16px;
  line-height: 18px;
  color: #686868;
  background-color: #ffffff;
}

.write-us-item input[type="text"]:invalid,
.write-us-item input[type="email"]:invalid {
  font-size: 16px;
  line-height: 18px;
  color: #ee8486;
  background-color: #ffffff;
}
  
  .write-button {
  width: 260px;
}
